

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@
    <a href="#" class="btn btn-success" data-action="Create">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Livro
    </a>
   
</p>

<!--Informa para a action que a página _Listar é que vai listar os livros.-->
<!--E pode informar qual página e quantos registros irão ser mostrados.-->
@*Html.Action("Listar", new pagina = 2, registros = 10)*@

<table id="gridDados">
    <thead>
        <tr>
            <th data-column-id="Titulo" data-order="asc">Título</th>
            <th data-column-id="Autor">Autor</th>
            <th data-column-id="AnoEdicao">Ano da Edição</th>
            <th data-column-id="Valor">Valor</th>
            <th data-formatter="acoes"></th>
        </tr>
    </thead>
</table>

<div class="modal fade" id="minhaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">           
            <div class="modal-body">
               <div id="conteudoModal"></div>
            </div>           
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.bootgrid.js"></script>
<script src="~/Scripts/Projeto/ControlarGrid.js"></script>
    <script type="text/javascript">

        var controller = "Livros";

        var urlListas = "@Url.Action("Listar")";

        $(document).ready(configurarControles);


    </script>
    }